@media only screen and (max-width: 493px){
    .suggestions{
        width: 97% !important;
    }

    #query{
        width: 73%;
    }
    h1 {
        font-size: 18px;
    }
    .row {
        width: 95%;
    }
    .book-image{

    }
}
